/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #131313;
  text-align: center;
  color: white;
  margin: 3em;
}

h1 {
  text-decoration: underline;
}

a {
  color: #b5b5b5;
  text-decoration: none;
}

.back {
  background-color: transparent;
  color: white;
  border-style: none;
  border: 5px solid white;
  border-radius: 5px;
}
Air {
  color: #00ff55
}
thunder {
  color: #ff7800
}

RainBow {
  animation: color-change 10s infinite;
  text-decoration: underline;
  font-size:40px;
}
@keyframes color-change {
  0% { color: red; }
  10% { color: orange; }
  20% { color: yellow; }
  30% { color: green; }
  40% { color: blue; }
  50% { color: purple; }
  60% { color: blue; }
  70% { color: green; }
  80% { color: yellow; }
  90% { color: orange; }
  100% {color: red; }
}